.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
/* ---------------- CSS componentes ------------------  */
:global(.vtex-flex-layout-0-x-flexRowContent--rowrosa) {
  margin-top: 25px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--colrosa) {
  border-bottom: 2px solid #efb3cb;
}

/* ----------------- Slider principal----------------------- */
:global(.vtex-store-components-3-x-infoCardContainer--ic-sld1) {
  width: 100%;
  height: 500px;
  align-items: flex-start;
  padding-top: 2.5rem;
}

:global(.vtex-slider-layout-0-x-sliderTrackContainer--sldprincipal) {
  max-width: none;
}

:global(.vtex-store-components-3-x-infoCardCallActionContainer--ic-sld1)
  :global(.vtex-button) {
  background-color: #ffffff;
  font-size: 14px;
  border-radius: 0%;
  border-width: thin;
  border-color: #000000;
  color: #000000;
  width: 13rem;
  padding: 13px;
  font-weight: 500;
}

:global(.vtex-store-components-3-x-infoCardTextContainer--ic-sld1) {
  margin-left: 6%;
}

:global(.vtex-store-components-3-x-container--ic-sld1) {
  width: 80%;
}

@media (max-width: 450px) {
  :global(.vtex-store-components-3-x-container--ic-sld1) {
    width: auto;
  }
}

/* ###################### ajustar imagen ###########################*/

/* carrusel 'siguenos en insta' starts*/
:global(.vtex-rich-text-0-x-paragraph--titulorosa) {
  font-family: "Caslon-Italic";
}
:global(.vtex-slider-layout-0-x-sliderArrows) {
  color: #efb3cb;
  font-size: 16px;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carrusel-insta)
  :global(.vtex-slider-layout-0-x-slideChildrenContainer) {
  margin: 10px;
}

/* :global(.vtex-store-components-3-x-imageElement--banner-insta) {
} */

/* carrusel 'siguenos en insta' ends*/

/* mini-cart icon  size*/
:global(.vtex-minicart-2-x-openIconContainer) {
  width: 45px;
  padding-left: 5px;
  padding-right: 0; /* 14/05*/
}
:global(.vtex-minicart-2-x-minicartQuantityBadge) {
  right: -10px;
  top: 15px;
}
/* mini-cart icon  size*/

/* search input size start */
/* :global(.vtex-flex-layout-0-x-flexRow--contentsrch) {
  display: flex;
  width: 100%;
} */

/* changes made 12/05/2021 starts*/

/* bolitas del carrusel */
:global(.vtex-slider-layout-0-x-paginationDot) {
  border: 2px solid #efb3cb;
  background-color: #ffffff;
  width: 1.4rem !important;
  height: 1.4rem !important;
}
:global(.vtex-slider-layout-0-x-paginationDot--shelf--isActive) {
  background-color: #efb3cb;
}

/* product page and breadcrum */
:global(.vtex-flex-layout-0-x-flexRowContent--breadcrum)
  :global(.vtex-breadcrumb-1-x-container) {
  color: #939598;
  font-family: "Sofia-Pro";
  text-transform: uppercase;
}
:global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-term) {
  color: #939598;
  font-family: "Sofia-Pro";
  text-transform: uppercase;
}

/* changes made 12/05/2021 ends*/
/* 14/05 */
:global(.vtex-store-components-3-x-headingLevel1--inforpueba) {
  font-size: 22px;
  text-align: center;
  padding: 0px 14px;
  font-family: "Sofia-Pro";
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
  margin: 0;
}
:global(.vtex-store-components-3-x-headingLevel1--inforpuebaizq) {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 14px;
  font-family: SofiaProBold;
  color: #000;
  /* font-weight: 600; */
  margin-bottom: 0;
  margin: 0;
}
:global(.vtex-store-components-3-x-headingLevel1--inforpuebader) {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 14px;
  font-family: SofiaProBold;
  color: #000;
  /* font-weight: 600; */
  margin-bottom: 0;
  margin: 0;
}

@media (min-width: 750px) {
  :global(.vtex-store-components-3-x-heading--inforpuebaizq),
  :global(.vtex-store-components-3-x-headingLevel1--inforpueba) {
    padding-top: 45px !important;
  }
}

:global(.vtex-store-components-3-x-paragraph--inforpuebaizq) {
  font-family: CaslonPro;
  color: #000000;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0;
}
:global(.vtex-store-components-3-x-paragraph--inforpuebader) {
  font-family: CaslonPro;
  color: #000000;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0;
}
:global(.vtex-store-components-3-x-paragraph--inforpueba) {
  color: #000000;
  font-family: CaslonPro;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0;
}
:global(.vtex-rich-text-0-x-paragraph--titnl) {
  color: #000000;
  font-family: "Sofia-Pro";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  padding: 10px 20px;
}
:global(.vtex-rich-text-0-x-paragraph--txtnl) {
  padding: 0px 20px !important;
  font-family: "CaslonPro";
  color: #000000;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 25px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 527.98px) {
  /* :global(.vtex-slider-layout-0-x-slide--sldprincipal)
    :global(.vtex-store-components-3-x-italic) {
    font-size: 0;
  } */
  /* 14/05 */
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-store-components-3-x-italic) {
    display: none;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-store-components-3-x-infoCardTextContainer--ic-sld1) {
    height: 100%;
    margin: 0;
    align-items: center;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-store-components-3-x-infoCardContainer) {
    justify-content: center;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-store-components-3-x-paragraph) {
    margin-bottom: 0;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-store-components-3-x-heading) {
    margin-top: 5px;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-store-components-3-x-infoCardCallActionContainer) {
    height: 80%;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    width: 100%;
    justify-content: center;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--sldprincipal)
    :global(.vtex-button) {
    width: 100%;
    padding: 10px 0;
  }
  :global(.vtex-store-components-3-x-notificationBarContainer--notif-bar) {
    height: 30px;
    align-items: center;
  }
  :global(.vtex-flex-layout-0-x-flexRow--tit-rosa)
    :global(.vtex-flex-layout-0-x-flexColChild--flag-title) {
    width: 80%;
    height: 30px !important;
  }

  :global(.vtex-flex-layout-0-x-flexRow--tit-rosa) {
    margin-bottom: 10px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--customsummary) {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
    color: #000000;
    font-family: "Sofia-Pro";
    font-size: 18px;
    font-weight: bold;
  }
  :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    display: none;
  }
  :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    display: none;
  }
  :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button__label) {
    padding-left: 0.9rem;
    padding-right: 0;
  }
  :global(.vtex-store-components-3-x-infoCardContainer--inforpueba) {
    height: 300px;
  }

  @media (max-width: 450px) and (max-width: 700px) {
    :global(.vtex-store-components-3-x-infoCardContainer--inforpueba) {
      height: 270px;
    }
    :global(.vtex-store-components-3-x-infoCardContainer--inforpuebaizq) {
      height: 270px;
    }
    :global(.vtex-store-components-3-x-infoCardContainer--inforpuebader) {
      height: 270px;
    }
  }
  :global(.vtex-store-newsletter-1-x-newsletterForm--news) {
    padding: 0 20px;
    padding-top: 20px;
  }
  :global(.vtex-store-newsletter-1-x-emailInputContainer) {
    float: left;
    width: 100%;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer) {
    width: 100%;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer)
    :global(.vtex-styleguide-9-x-input) {
    text-align: center;
    color: #7e7e7e;
    font-family: CaslonPro;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer)
    :global(.vtex-button) {
    width: 80%;
  }
}

/* changes made 12/05/2021 */
:global(.vtex-login-2-x-label) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexColChild--link-wishlist) {
  margin-left: -10px;
}

/* 17/05 */
:global(.vtex-store-newsletter-1-x-newsletterForm--news)
  :global(.vtex-styleguide-9-x-input) {
  padding-top: 10px;
  text-align: center;
  color: #7e7e7e;
  font-family: CaslonPro;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0;
}
:global(.vtex-store-newsletter-1-x-newsletterForm--news)
  :global(.vtex-button__label) {
  opacity: 0.8;
  color: #ffffff;
  font-family: Sofia-Pro;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
}

@media (max-width: 627.98px) {
  /* 14/05 */
  /* :global(.vtex-store-newsletter-1-x-newsletterForm--news) {
    display: block !important;
  } */
  :global(.vtex-rich-text-0-x-paragraph--txtnl) {
    /* margin: 0; */
    padding: 0 30px !important;
    text-align: center;
  }
}
@media (min-width: 527.98px) {
  /* 14/05 */
  :global(.vtex-store-newsletter-1-x-newsletterForm--news) {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer) {
    margin-top: 4px !important;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--colnl) {
    height: auto !important;
  }
}

:global(.vtex-minicart-2-x-minicartContainer) {
  margin-right: -33px;
}

@media (max-width: 1100px) {
  :global(.vtex-minicart-2-x-minicartContainer) {
    margin-right: 0;
  }
}

/*######################### Estilos Mi Cuenta #################################*/

:global(.vtex-login-2-x-button)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  font-size: 14px;
  font-weight: bold;
}

:global(.vtex-login-2-x-oauthLabel) {
  font-weight: bold;
}
@media (min-width: 450px) and (max-width: 768px) {
  :global(.vtex-account__page) {
    margin-left: 5rem;
  }
}

@media (min-width: 1280px) {
  :global(.vtex-account__page) {
    margin-left: 5rem;
  }
}

@media (min-width: 1280px) {
  :global(.vtex-account__page) {
    margin-left: 3rem;
  }
}

:global(.vtex-input__label) {
  text-transform: uppercase !important;
  color: #000000;
  font-size: 12px;
  font-family: "Sofia-Pro";
}

:global(.vtex-dropdown__label) {
  text-transform: uppercase !important;
  color: #000000;
  font-size: 12px;
  font-family: "Sofia-Pro";
}

:global(.vtex-button) {
  border-radius: 0;
}

@media (min-width: 1280px) {
  :global(.vtex-pageHeader__container) {
    padding-left: 3rem;
    padding-bottom: 0;
  }
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) {
  padding: 0 !important;
  color: #000000;
  margin-bottom: 2rem;
}

:global(.vtex-account) :global(.vtex-button) {
  border-radius: 0;
  padding: 10px 30px;
}

@media (min-width: 1280px) {
  :global(.vtex-account) {
    padding: 0 2rem 0 8rem;
  }
}

:global(.vtex-pageHeader__title) {
  font-family: "Didot";
  font-size: 2rem;
  color: #000000;
}

@media (min-width: 1024px) {
  :global(.vtex-pageHeader__title) {
    font-size: 65px;
  }
}

:global(.vtex-my-account-1-x-userName) {
  font-size: 14px;
}

:global(.vtex-my-account-1-x-boxContainer) {
  border: 2px solid #000000;
}

:global(.vtex-my-account-1-x-dataEntryLabel) {
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}

:global(.vtex-my-account-1-x-dataEntryChildren) {
  font-family: "Caslon-Italic";
}

:global(.vtex-my-account-1-x-newsletterContainerTitle) {
  font-weight: 700;
  margin-bottom: 20px;
}
:global(.vtex-my-account-1-x-newsletterContainerMessage) {
  font-family: "Caslon-Italic";
}

:global(.vtex-my-account-1-x-boxContainerFooter)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  color: #979899;
  text-transform: capitalize;
}

:global(.vtex-my-account-1-x-boxContainerFooter)
  :global(.vtex-button)
  :global(.vtex-button__label):hover {
  color: #000000;
}

:global(.vtex-my-account-1-x-userGreeting),
:global(.vtex-my-account-1-x-userName) {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}
@media (min-width: 750px) and (max-width: 1023px) {
  :global(.vtex-my-account-1-x-userName) {
    align-items: center;
  }
}

@media (min-width: 1280px) {
  :global(.vtex-my-account-1-x-userGreeting) {
    position: absolute;
    top: 373px;
    left: 351px;
  }
  :global(.vtex-my-account-1-x-userName) {
    position: absolute;
    top: 373px;
    left: 390px;
  }
}

@media (min-width: 450px) {
  :global(.vtex-account) :global(.vtex-my-account-1-x-menu) {
    width: 20% !important;
  }
}

:global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link) {
  font-size: 16px;
  font-family: "SofiaProBold";
}

:global(.vtex-profile-form-3-x-profileContainer) {
  display: flex;
  flex-direction: column;
}

:global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) {
  border-radius: 0;
  padding: 10px 30px;
  width: 60%;
  margin: 0 auto;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper)
  :global(.vtex-button) {
  background: #ffffff;
  color: #000000;
  width: 100%;
  border: 2px solid #000000;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper)
  :global(.vtex-button):hover {
  text-decoration: underline;
}

/* Estilos wish mi cta */

:global(.vtex-product-summary-2-x-element) :global(.vtex-button) {
  padding: 0;
}

:global(.vtex-rich-text-0-x-heading-level-3) {
  font-family: "Didot";
  font-size: 65px;
  color: #000000;
  margin-top: 65px;
  margin-bottom: 2rem;
}

:global(.vtex-store-components-3-x-sellingPrice) {
  color: #000000;
}

/* Estilos tarjetas mi cta */

:global(.vtex-pageHeader__children) {
  margin: 2rem auto 0 auto;
  width: 45%;
}

:global(.vtex-account__cards-list) {
  color: #000000;
}

/* Estilos direcciones mi cta */

:global(.vtex-my-account-1-x-addressBox) {
  justify-content: center;
}

@media (min-width: 450px) {
  :global(.vtex-my-account-1-x-addressBox) {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  :global(.vtex-address-form__postalCode) {
    margin-bottom: 0.5rem;
  }
}

:global(.vtex-my-account-1-x-addressList) {
  padding-top: 2rem;
}

/* Estilos pedidos mi cta */

:global(.vtex-my-orders-app-3-x-orderCard) {
  border: 2px solid #000000;
  border-radius: 0.25rem;
}

:global(.vtex-my-orders-app-3-x-orderHeader)
  :global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
  color: #000000 !important;
  font-weight: 700;
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
  background: #ffffff;
}

:global(.vtex-my-orders-app-3-x-productName) {
  color: #979899;
  text-decoration: none;
}
:global(.vtex-my-orders-app-3-x-productName):hover {
  color: #000000;
}

:global(.vtex-my-orders-app-3-x-sellerName) {
  color: #000000;
}

:global(.vtex-my-orders-app-3-x-detailsBtn) {
  color: #979899;
}
:global(.vtex-my-orders-app-3-x-detailsBtn):hover {
  color: #000000;
}

:global(.vtex-my-orders-app-3-x-orderId) {
  color: #000000;
  font-weight: bold;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue) {
  color: #000000;
}

/* Estilos pagina FAQ */
:global(.vtex-disclosure-layout-1-x-trigger)
  :global(.vtex-rich-text-0-x-paragraph),
:global(.vtex-disclosure-layout-1-x-content)
  :global(.vtex-rich-text-0-x-paragraph) {
  margin: 10px 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--img-faq-container) {
  height: 130px;
  display: flex;
  align-items: flex-end;
}

:global(.vtex-flex-layout-0-x-flexRow--home-page-flag-faq) {
  width: 95%;
  margin: 0 auto;
  margin-top: 4rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--flag-title-faq) {
  height: 100%;
  width: 95%;
  background: #efb3cb;
  clip-path: polygon(100% 0, 96% 50%, 100% 100%, 0% 100%, 4% 50%, 0% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  :global(.vtex-flex-layout-0-x-flexColChild--flag-title-faq) {
    width: 60%;
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--flag-title)
  :global(.vtex-rich-text-0-x-container--titulorosa) {
  padding: 9px 0 !important;
}

@media (min-width: 450px) {
  :global(.vtex-flex-layout-0-x-flexColChild--flag-title) {
    min-width: 345px;
  }
}

:global(.vtex-rich-text-0-x-container--titulorosa) {
  padding: 9px 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--faq)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
  :global(.vtex-flex-layout-0-x-flexCol)
  :global(.vtex-flex-layout-0-x-flexColChild):last-child {
  padding: 0 1rem;
}

@media (min-width: 500px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--faq)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :global(.vtex-flex-layout-0-x-flexCol)
    :global(.vtex-flex-layout-0-x-flexColChild):last-child {
    padding: 0;
  }
}

:global(.vtex-rich-text-0-x-paragraph--titulorosa) {
  font-family: "CaslonPro" !important;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0;
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

:global(.vtex-flex-layout-0-x-flexRowContent--icons-container) {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 0 1rem;
}

@media (min-width: 750px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--icons-container) {
    margin: 5rem 0 2rem 0;
    display: flex;
  }
}

@media (min-width: 1280px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--faq) {
    min-width: 75vw;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--icon-cont) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--icon-cont)
  :global(.vtex-rich-text-0-x-wrapper) {
  text-align: center;
}

:global(.vtex-rich-text-0-x-wrapper--txt-icons-faq) {
  text-transform: uppercase;
  font-size: 17px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--icon-cont)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

:global(.vtex-disclosure-layout-1-x-trigger--question) {
  justify-content: space-between;
  padding: 0.5rem 0;
}

:global(.vtex-disclosure-layout-1-x-trigger--question)
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #000000;
  font-family: Sofia-Pro;
  font-size: 17px;
  padding-inline-end: 1rem;
}

:global(.vtex-disclosure-layout-1-x-trigger) {
  border-top: 1px solid #efb3cb;
  border-bottom: 1px solid #efb3cb;
  margin-bottom: -1px;
  padding: 0 1rem;
}

:global(.vtex-disclosure-layout-1-x-content--answer--visible) {
  padding-left: 1rem;
}

:global(.vtex-disclosure-layout-1-x-content--answer--visible)
  :global(.vtex-rich-text-0-x-container)
  :global(.vtex-rich-text-0-x-wrapper)
  :global(.vtex-rich-text-0-x-paragraph) {
  padding-inline-start: 1.5rem;
  padding-inline-end: 8rem;
  font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--icon-cont)
  :global(.vtex-store-components-3-x-imageElement) {
  width: 20%;
}

@media (min-width: 750px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--icon-cont)
    :global(.vtex-store-components-3-x-imageElement) {
    width: 35%;
  }
}

:global(.vtex-disclosure-layout-1-x-trigger--question--hidden)::after {
  content: url(https://paulette.vtexassets.com/arquivos/paulette1.png);
  position: absolute;
  right: 10%;
  background: #ffffff;
}

@media only screen and (min-width: 450px) and (max-width: 1023px) {
  :global(.vtex-disclosure-layout-1-x-trigger--question--hidden)::after {
    right: 8%;
  }
}
@media (min-width: 1024px) {
  :global(.vtex-disclosure-layout-1-x-trigger--question--hidden)::after {
    right: 18%;
  }
}
@media (min-width: 1250px) {
  :global(.vtex-disclosure-layout-1-x-trigger--question--hidden)::after {
    right: 14%;
  }
}

:global(.vtex-disclosure-layout-1-x-trigger--question--visible)::after {
  content: url(https://paulette.vtexassets.com/arquivos/paulette2.png);
  position: absolute;
  right: 10%;
  background: #ffffff;
}

@media only screen and (min-width: 450px) and (max-width: 1023px) {
  :global(.vtex-disclosure-layout-1-x-trigger--question--visible)::after {
    right: 8%;
  }
}
@media (min-width: 1024px) {
  :global(.vtex-disclosure-layout-1-x-trigger--question--visible)::after {
    right: 18%;
  }
}
@media (min-width: 1250px) {
  :global(.vtex-disclosure-layout-1-x-trigger--question--visible)::after {
    right: 14%;
  }
}

/* Estilos pagina Store Locator */

:global(.vtex-rich-text-0-x-heading-level-2) {
  font-size: 0;
}

:global(.vtex-store-locator-0-x-addressStoreName) {
  font-family: "SofiaProBold";
}
:global(.vtex-store-locator-0-x-storeName) {
  font-family: "SofiaProBold";
}
:global(.vtex-store-locator-0-x-addressStoreAddress) {
  font-family: "Sofia-Pro";
  font-size: 14px;
}

@media (min-width: 750px) {
  :global(.vtex-store-locator-0-x-storesListCol) {
    width: 20%;
  }
  :global(.vtex-store-locator-0-x-storesMapCol) {
    width: 80%;
  }
}

:global(.vtex-store-components-3-x-container) {
  padding: 0;
}

@media (min-width: 750px) {
  :global(.vtex-store-components-3-x-container) {
    padding: 0 8 px;
  }
}

:global(.vtex-store-locator-0-x-addressList) {
  padding: 0;
  background: #e1e1e1 !important;
}

:global(.vtex-store-locator-0-x-addressListItem) {
  padding: 1rem 2rem;
}

:global(.vtex-flex-layout-0-x-flexCol--detail-container) {
  padding: 1rem;
}

:global(.vtex-flex-layout-0-x-flexCol--detail-cont) {
  background: #e1e1e1;
}

:global(.vtex-flex-layout-0-x-flexColChild--detail-container) {
  margin-bottom: 1rem;
}

:global(.vtex-store-locator-0-x-addressList) {
  margin: 0;
}

:global(.vtex-store-locator-0-x-addressStoreName) {
  text-transform: uppercase;
}

:global(.vtex-store-locator-0-x-addressStoreAddress) {
  text-transform: uppercase;
}

@media (min-width: 1280px) {
  :global(.vtex-store-locator-0-x-storesMapCol) {
    min-height: 713px;
  }
  :global(.vtex-store-locator-0-x-container) {
    max-height: 713px;
  }
}

@media (min-width: 750px) {
  :global(.vtex-store-locator-0-x-container) {
    margin-bottom: 2rem;
  }
}

:global(.vtex-search-2-x-itemList) {
  overflow: initial;
}
:global(.vtex-search-2-x-tileList) {
  overflow-x: auto;
}

:global(.vtex-store-locator-0-x-addressLink) {
  text-decoration: none !important;
  color: #000000;
}

:global(.vtex-store-locator-0-x-addressLink):hover {
  font-weight: bold;
}

:global(.vtex-flex-layout-0-x-flexColChild--detail-cont):first-child {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexCol--mapaCont) {
    min-height: 40rem;
  }
}

@media (max-width: 1098.99px) {
  :global(.vtex-store-locator-0-x-container) {
    flex-direction: column;
  }
  :global(.vtex-store-locator-0-x-storesListCol) {
    width: 100%;
  }
  :global(.vtex-store-locator-0-x-storesMapCol) {
    width: 100%;
    min-height: 30rem;
  }
}

/* search container mobile starts */
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-rich-text-0-x-paragraph) {
  font-family: Sofia-Pro;
  font-size: 18px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

:global(.vtex-store-drawer-0-x-childrenContainer--draw-search) {
  width: 100%;
  border: 0;
}

:global(.vtex-flex-layout-0-x-flexRow--contentsrch) {
  width: 100%;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-store-components-3-x-searchBarContainer) {
  padding: 5px;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-input-prefix__group) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 5px;
  position: relative;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-input-prefix__group)::after {
  top: 3px !important;
  position: absolute;
  right: 0;
}

:global(.vtex-store-components-3-x-portalWrapper) {
  position: relative;
}

:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-biggy-autocomplete) {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  margin-top: 5px;
}

:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-tileListItem) {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  margin: 5px;
  border-radius: 5px;
}

:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-imageContainer) {
  max-height: 80px;
  width: 150px;
  display: flex;
  justify-content: center;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-information) {
  margin: 0;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-productNameContainer) {
  width: 100%;
  text-align: center;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-priceContainer) {
  width: 100%;
  text-align: center;
}

:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-productBrand) {
  font-family: Sofia-Pro;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: bold;
}
:global(.vtex-store-drawer-0-x-opened--draw-search)
  :global(.vtex-search-2-x-sellingPriceValue) {
  font-family: Sofia-Pro;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

:global(.vtex-store-newsletter-1-x-defaultSuccessMessage--news) {
  text-align: center;
  font-family: Sofia-Pro;
  font-size: 18px;
}
:global(.vtex-wish-list-1-x-emptyMessage) {
  font-size: 0;
  margin: 0 auto;
  width: 100vh;
}

:global(.vtex-wish-list-1-x-emptyMessage)::after {
  content: "Tu lista de favoritos esta vacía";
  font-family: Sofia-Pro;
  font-size: 1.5rem;
  color: #000000;
  /* font-weight: bold; */
}
:global(.vtex-flex-layout-0-x-flexColChild--titleWishlist)
  :global(.vtex-rich-text-0-x-heading) {
  margin-top: 1rem;
}
:global(.vtex-flex-layout-0-x-flexRow--row-wishlist)
  :global(.vtex-flex-layout-0-x-flexRowContent) {
  display: block;
}

:global(.vtex-flex-layout-0-x-flexRow--row-wishlist) {
  padding: 2rem;
  padding-left: 6rem;
  padding-bottom: 0;
}
:global(.vtex-store-link-0-x-link--wishlist-return-link) {
  text-decoration: none;
  font-size: 0.875rem;
  color: #000000;
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

:global(.vtex-store-locator-0-x-addressLink) {
  color: #969798;
  transition: 0.3s;
}
:global(.vtex-store-locator-0-x-addressLink):hover {
  color: #000000;
}
:global(.vtex-store-locator-0-x-backlink) {
  transition: 0.3s;
}
:global(.vtex-store-locator-0-x-backlink):hover {
  color: #000000;
}

:global(.vtex-store-locator-0-x-addressListLink) {
  font-size: 14px;
  transition: 0.3s;
}
:global(.vtex-store-locator-0-x-addressListLink):hover {
  color: #000000;
}

:global(.vtex-store-locator-0-x-loadAll) {
  font-size: 14px;
  line-height: 2rem;
  padding-inline-start: 2rem;
  transition: 0.3s;
}
:global(.vtex-store-locator-0-x-loadAll):hover {
  color: #000000;
}

:global(.vtex-flex-layout-0-x-flexColChild--detail-cont) {
  margin: 0 1rem;
  margin-top: 1rem;
  font-size: 14px;
}

:global(.vtex-store-locator-0-x-storesListCol) {
  background: #e1e1e1;
}

:global(.vtex-flex-layout-0-x-flexColChild--detail-cont):last-child {
  margin-bottom: 1rem;
}

/* Politica de privacidad */

:global(.vtex-rich-text-0-x-wrapper--privacidad-content) {
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  :global(.vtex-rich-text-0-x-wrapper--privacidad-content) {
    padding: 0;
  }
}

:global(.vtex-store-components-3-x-backToTopButtonActive) {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
}

:global(.vtex-input__error) {
  margin: 0;
}
/* Sweet Catering */

:global(.vtex-address-form-4-x-container) {
  border-color: #000000;
}
/* :global(.vtex-account__create-card)::before {
  content: "⚠ Puede que se le cargue una pequeña cantidad de hasta $20.00 para verificar su tarjeta. La transacción se cancelará después de que se complete la verificación.";
  font-family: "Sofia-Pro";
  padding: 15px 16px;
  max-width: 93vw;
  background: #fff6e0;
  position: absolute;
  top: 53.8rem;
  color: #000000;
  text-align: justify;
}
@media (min-width: 768px) {
  :global(.vtex-account__create-card)::before {
    padding: 37px 16px;
    max-width: 56vw;
    top: 61rem;
  }
}
@media (min-width: 1024px) {
  :global(.vtex-account__create-card)::before {
    max-width: 440px;
    top: 65rem;
  }
}
@media (min-width: 1280px) {
  :global(.vtex-account__create-card)::before {
    max-width: 440px;
    top: 47rem;
    left: 64rem;
  }
} */
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-button):hover {
  background-color: #efb3cb !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--container-formulario)
  :global(.vtex-radio__label) {
  font-family: "Sofia-Pro";
}

/* Institucional como comprar #########################################################################################################################################*/
:global(.vtex-flex-layout-0-x-flexRowContent--info-chat) {
  flex-direction: column;
  margin-top: 4rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--info-chat)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

:global(.vtex-rich-text-0-x-container--txt-chat),
:global(.vtex-rich-text-0-x-container--btn-chat) {
  justify-content: center;
  margin: 0 10px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Sofia-Pro";
}
:global(.vtex-rich-text-0-x-container--btn-chat) {
  margin-top: 2rem;
}
:global(.vtex-rich-text-0-x-wrapper--btn-chat)
  :global(.vtex-rich-text-0-x-link--btn-chat) {
  text-decoration: none;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Sofia-Pro";
  padding: 1rem 2rem;
  background-color: #efb3cb;
  transition: 0.3s ease all;
}
:global(.vtex-rich-text-0-x-wrapper--btn-chat)
  :global(.vtex-rich-text-0-x-link--btn-chat):hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

/* Bolsa de trabajo ############################################################################################################################################*/
:global(.vtex-rich-text-0-x-paragraph--info-bolsa) {
  margin-top: 2rem;
}
:global(.vtex-rich-text-0-x-paragraph--info-bolsa) {
  padding: 0 10px;
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRow--container-formulario) {
  max-width: 500px;
  padding: 0 10px;
  margin: auto;
}
@media (min-width: 750px) {
  :global(.vtex-flex-layout-0-x-flexRow--container-formulario) {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--container-formulario)
  :global(.vtex-store-form-0-x-formSubmitContainer) {
  margin-top: 2rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--container-formulario)
  :global(.vtex-input) {
  margin-top: 10px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--container-formulario)
  :global(.vtex-dropdown) {
  margin-top: 10px;
}
:global(.vtex-styleguide-9-x-popup) {
  background-color: #efb3cb;
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--container-formulario)
  :global(.vtex-input__label) {
  font-family: "Sofia-Pro";
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin-bottom: 2px;
}

:global(.vtex-rich-text-0-x-container--link-storelocator) {
  margin-top: 2rem;
}

/* Estilos de Sub-menus desplegables Header */
@media (min-width: 1026px) and (max-width: 1454px){
  :global(.vtex-menu-2-x-submenuWrapper--sub-menu-choc-desk--isOpen) {
    left: -171.64px !important;
  }
}
@media (min-width: 1026px) and (max-width: 1422px){
  :global(.vtex-menu-2-x-submenuWrapper--sub-menu-mas-desk--isOpen) {
    left: -76.39px !important;
  }
}

/* Estilos Drawer */
:global(.vtex-store-drawer-0-x-drawer) {
  width: 88% !important;
}
:global(.vtex-menu-2-x-styledLinkContent--itemprinlog) {
  width: 189.188px;
}

/* Estilo de elementos Footer */
:global(.vtex-flex-layout-0-x-flexRowContent--footer-menu-row){
  background-color: #efb3cb;
  padding: 3.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} 
:global(.vtex-flex-layout-0-x-flexCol--pay-meth-container){
  width: auto !important;
  align-items: center;
}
:global(.vtex-flex-layout-0-x-flexRow--paymt-1){
  margin-top: 50px !important;
  width: 190px;
  margin-left: 24px;
  vertical-align: middle;
}
:global(.vtex-flex-layout-0-x-flexRow--paymt-2){
  width: 190px;
  margin-left: 24px;
}
:global(.vtex-store-components-3-x-imageElement--master),
:global(.vtex-store-components-3-x-imageElement--amex){
  margin: auto 0px !important;
}

/* Página de Mi Cuenta */
:global(.vtex-account)
:global(.vtex-account__page){
  /* width: 80% !important; */
  width: auto !important;
}

/* Zona de Cobertura */
:global(.vtex-store-components-3-x-imageElement--img-map){
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* width: auto !important; */
}

/* Imágenes de pdp */
:global(.vtex-store-components-3-x-productImage){
  text-align: center;
}

/* Página Nosotros */

:global(.vtex-rich-text-0-x-strong--desc-nosotros){
  font-size: xx-large!important;
  font-weight: 100!important;
}

/* Centrar título de Pasteles Individuales */
:global(.vtex-rich-text-0-x-paragraph--titulo-individuales){
  text-align: center;
}

/* Button "Seguir comprando" */

:global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer)
:global(.vtex-store-drawer-0-x-closeIconButton){
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer)
:global(.vtex-store-drawer-0-x-closeIconButton)
:global(.vtex-store-drawer-0-x-closeIcon){
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer)
:global(.vtex-store-drawer-0-x-closeIconButton)::before{
  text-decoration: none;
  content: "Seguir comprando";
  margin: 0;
  font-size: 16px;
  font-family: "Sofia-Pro";
  padding: 1rem 2rem;
  transition: 0.3s ease all;

  height: 25px !important;
  padding: 0px !important;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #efb3cb;
}
:global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer)
:global(.vtex-store-drawer-0-x-closeIconButton):hover::before{
  color: #000000;
}

/* Buscador */
:global(.vtex-search-2-x-itemList--top-search)
:global(.vtex-search-2-x-itemListTitle){
  font-size: 0px;
}
:global(.vtex-search-2-x-itemList--top-search)
:global(.vtex-search-2-x-itemListTitle)::before{
  content: "¡Descubre los postres más deseados! Desde Creaciones Signature y de temporada hasta Pequeñas Dulzuras, Xocolats y otros antojos golosos.";
  font-size: 14px;
}


/* Modificación contenedor */
@media (max-width: 640px){

  :global(.vtex-search-result-3-x-galleryItem){
    padding: 0rem .75rem;
  }
}

/*Modificaciones order placed*/

:global(.vtex-order-placed-2-x-cancelOrderButton){
  display: none !important;
}

:global(.vtex-rich-text-0-x-paragraph--textoPagoTienda){
    background: #f2f4f5;
    margin: 20px 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 5px;
    padding: 12px;
    font-family: Sofia-Pro;
    font-size: 18px;
    text-align: center;
}

:global(.vtex-flex-layout-0-x-flexRow--pagoTienda){
  padding:0 150px;
}

:global(.vtex-rich-text-0-x-wrapper--textoPagoTienda){
  width: 100%;
}

:global(.vtex-rich-text-0-x-container--textoTop){
  width: 100%;
  background: #efb3cb;
}

:global(.vtex-rich-text-0-x-container--textoTop){
  width: 100%;
  background: #efb3cb;
}

:global(.vtex-rich-text-0-x-wrapper--textoTop){
  display: block;
  margin: 0 auto;
}

:global(.vtex-rich-text-0-x-paragraph--textoTop){
  margin: 10px;
  color: #ffffff;
}

:global(.vtex-order-placed-2-x-section--topBanner){
  border: none;
  margin-bottom: 20px;
}

:global(.vtex-order-placed-2-x-orderPlacedWrapper){
  padding-top: 0;
}

:global(.vtex-rich-text-0-x-paragraph--textoBienvenida){
  color: #000!important;
  font-family: Sofia-Pro;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

/* Minicart text */
:global(.vtex-product-list-0-x-availabilityMessageText)::after {
  content: "¡Oh lo sentimos! Este postre no está disponible por el momento, te recomendamos ir al menú y encontrar otros antojos golosos.";
  font-size: 14px;
}

:global(.vtex-product-list-0-x-availabilityMessageText){
  font-size: 0;
}

/* INICIO - Item "PANQUES" solo acento en "PANQUÉS" */
:global(.vtex-menu-2-x-styledLinkContent--itemprinPanques) {
  font-size: 0 !important;
}
:global(.vtex-menu-2-x-styledLinkContent--itemprinPanques)::before {
  font-size: 14px;
  content: "PANQUÉS";
}
/* INICIO - Item "PANQUES" solo acento en "PANQUÉS" */

:global(.vtex-rich-text-0-x-link--titulorosa){
  color: #ffffff;
  text-decoration: none;
}

:global(.vtex-rich-text-0-x-link--titulorosa):hover{
  color: #ffffff;
}

:global(.vtex-order-placed-2-x-noticesList)
:global(.vtex-order-placed-2-x-noticeListItem):first-child{
  display: none;
}

@media (max-width: 885px) {
  :global(.vtex-flex-layout-0-x-flexRow--pagoTienda){
    padding: 0 calc(3% + -5px);;
  }
}

:global(.vtex-store-components-3-x-notificationContent--notif-bar){
  text-align: center;
}

@media (max-width: 375px) {
  :global(.vtex-store-components-3-x-notificationBarContainer--notif-bar){
    padding: 7% 0;
  }
}